# Ignore everything
*

# But don't ignore these
!.gitignore
!/programa audio/
!/programa audio/app/
!/programa audio/app/**
!/programa audio/app/src/**

# Ignore large media files
**/*.wav
**/*.mp3
**/*.mp4
**/*.img
**/*.rar
